# Azure Event Hub
EVENT_HUB_CONNECTION_STRING=Endpoint=sb://<namespace>.servicebus.windows.net/;SharedAccessKeyName=<policy>;SharedAccessKey=<key>
EVENT_HUB_NAME=retail-media-events

# Configurações do gerador
EVENTS_PER_SECOND=10
TOTAL_EVENTS=1000
